<a href="https://colab.research.google.com/github/lathika4/ML_23AG1A66H0/blob/main/data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data= pd.read_csv('/content/sample_data/data.csv')

In [ ]:
data.head()

    Name   Age Gender  Marks     City
0  Alice  18.0      F   85.0   London
1    Bob   NaN      M    NaN  NewYork
2  Cathy  19.0      F   90.0      NaN
3  David  17.0      M   95.0   Sydney
4    Eva  18.0      F   72.0   London

In [ ]:
data.fillna({
    'Age':data['Age'].mean(),
    'Marks':data['Marks'].mean(),
    'Gender':'No Gender',
    'City':'Unknowm'

},inplace=True)

In [ ]:
print(data)

    Name   Age Gender  Marks     City
0  Alice  18.0      F   85.0   London
1    Bob  18.0      M   85.5  NewYork
2  Cathy  19.0      F   90.0  Unknowm
3  David  17.0      M   95.0   Sydney
4    Eva  18.0      F   72.0   London

In [ ]:
data= {
    'Name':['Alice','Bob','Charlie'],
    'Age':[18,18,18],
    'Gender':['F','M','F'],
    'Marks':[85,90,85],
    }
df=pd.DataFrame(data)
print(df)
df_no_duplicates=df.drop_duplicates()
print("\nData after removing duplicates")
print(df_no_duplicates)

      Name  Age Gender  Marks
0    Alice   18      F     85
1      Bob   18      M     90
2  Charlie   18      F     85

Data after removing duplicates
      Name  Age Gender  Marks
0    Alice   18      F     85
1      Bob   18      M     90
2  Charlie   18      F     85